stages:
  - lint
  - test
  - build

image: ghcr.io/rawsocketlabs/libsdr-cross-builder:stable

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .cargo/
    - target/

before_script:
  - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/markpoint/maxlabs/project_finch/hyperpallium/shrike/libsdr.git ../libsdr
  - rustc --version
  - cargo --version

clippy:
  stage: lint
  script:
    - rustup component add clippy
    - cargo clippy --all-targets --all-features -- -D warnings
  allow_failure: true

fmt:
  stage: lint
  script:
    - rustup component add rustfmt
    - cargo fmt -- --check
  allow_failure: true

test:
  stage: test
  script:
    - cargo test --verbose --all

build:
  stage: build

  script:
    - cargo build --release --features "usdr,bladerf,rtlsdr" --verbose --all
  artifacts:
    paths:
      - target/release/sdrscanner
      - target/release/tui
    rules:
      - if: $CI_COMMIT_TAG


