stages:
  - lint
  - test
  - build

image: ghcr.io/rawsocketlabs/libsdr-cross-builder:stable

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .cargo/
    - target/

before_script:
  - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/markpoint/maxlabs/project_finch/hyperpallium/shrike/libsdr.git ../libsdr
  - rustc --version
  - cargo --version

clippy:
  stage: lint
  script:
    - rustup component add clippy
    - cargo clippy --all-targets --all-features -- -D warnings
  allow_failure: true

fmt:
  stage: lint
  script:
    - rustup component add rustfmt
    - cargo fmt -- --check
  allow_failure: true

test:
  stage: test
  script:
    - cargo test --all-features --verbose --all

build:
  stage: build
  script:
    - mkdir artifacts
    - RUSTFLAGS="-L native=/usr/lib/x86_64-linux-gnu -L native=/lib/x86_64-linux-gnu" BINDGEN_EXTRA_CLANG_ARGS="-I/usr/include" CFLAGS='-isystem /usr/include' cargo zigbuild --release --features rtlsdr,usdr --target x86_64-unknown-linux-gnu
    - mv target/x86_64-unknown-linux-gnu/release/sdrscanner artifacts/sdrscanner_x86_64
    - mv target/x86_64-unknown-linux-gnu/release/tui artifacts/tui_x86_64
    - RUSTFLAGS="-L native=/usr/lib/aarch64-linux-gnu -L native=/lib/aarch64-linux-gnu" BINDGEN_EXTRA_CLANG_ARGS="-I/usr/include" CFLAGS='-isystem /usr/include' cargo zigbuild --release --features rtlsdr,usdr --target aarch64-unknown-linux-gnu
    - mv target/aarch64-unknown-linux-gnu/release/sdrscanner artifacts/sdrscanner_aarch64
    - mv target/aarch64-unknown-linux-gnu/release/tui artifacts/tui_aarch64
  artifacts:
    paths:
      - artifacts/*
  rules:
    - if: $CI_COMMIT_TAG


