[workspace]
members = ["shared", "scanner", "tui"]
resolver = "3"

[profile.release]
codegen-units = 1
debug-assertions = false
debug = false
incremental = false
lto = "fat"
opt-level = 3
overflow-checks = false
panic = "abort"
strip = "symbols"
